<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Matthew Schlue" content="Resume Portfolio">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Matthew Schlue's Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/">Portfolio of Matthew Schlue </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="/home/">Home</a></li>
                <li class="active"><a href="/resume/">Resume</a></li>
                <li><a href="/seniordesign/">Senior Design</a></li>
                <li><a href="/about/">About</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--RESUME CONTENT HERE 
    =========================================== -->
    <div class="container"> 
     <table class="table"><br /><br /><br /><br />
      <tr><td>
        <div align="center"><h1>Matthew Schlue</h1></div>
      </td></tr>
      <tr><td>
        <h2>Experience</h2>
        <hr>
          <h4>WebFilings - Production Systems Support</h3>
            <li>Engaging in critical monitoring of core Linux and Windows production systems using Nagios, Splunk, and Datadog.</li>
            <li>Architecting high availability, auto scaling servers in a cloud environment, while ensuring that services are up to date and operating at peak efficiency </li>
            <li>Deploying servers and developer code to our cloud platform using SaltStack</li>
            <li>Creating a DevOps dashboard that aggregates data across multiple services to identify critical threats and proactively mitigate risks </li>
            <li>Developing custom web application solutions for internal ticket metrics reporting</li>
            <li>Tuning relational databases to increase performance and query times</li>
          <h4>ISEAGE Research Laboratory - Graduate Research Assistant</h4>
            <li>Designing and implementing a high-performance, load-balancing information security test bed cluster</li>
            <li>Infrastructure and network resource planning for laboratory environment
            <li>Planning and directing the ISU Cyber Defense Competition, the largest on-campus competition in the world</li>
            <li>Developing lab assignments, attack scenarios, and guest lecturing for a partnering SCADA security lab</li>
            <li>Working with other universities hosting our ISEAGE architecture to run Cyber Defense Competitions</li>
            <li>Interviewing, hiring, and mentoring undergraduate research assistants</li> 
          <h4>Krell Institute - Systems Administrator</h4>
            <li>Lead engineer for company migration from Windows Server 2008 to Windows Server 2012, including existing Active Directory infrastructure</li>
            <li>Administered a high-availability VMware vCenter cluster</li>
            <li>Monitored production systems and ensured uptime with Splunk, Nagios, and Cacti</li>
            <li>Created incident response policy and on-call schedule</li>
            <li>Set up and maintained production Windows and Linux servers</li>
            <li>Performed ongoing maintenance of Cisco networking equipment</li>
            <li>Identified and mitigated threats against web infrastructure with enterprise security tools</li>
          <h4>Help Desk Supervisor and Programmer</h4>
            <li>Telecom, network, and systems support for 27,000 users via phone, email, and in-person</li>
            <li>Managed helpdesk staff and assisted with improving day-to-day processes </li>
            <li>Conducted interviews for hiring new employees</li>
            <li>Removed viruses/malware from student computers</li>
            <li>Building analytics for better management of employees by tying data from the ticking system to dynamic webpages</li>
        <h2>Education</h2>
        <hr>
          <h4>Iowa State University</h3>
            Degree in Progress<br />
            M.S. Computer Engineering, Information Assurance<br />
            Iowa State University, Ames, Iowa<br />
            Cumulative GPA: 3.78<br />
            Expected Graduation Date: May, 2014<br /><br />

            Degree Previously Attained<br />
            B.S. Management Information Systems<br />
            Iowa State University, Ames, Iowa<br />
            Graduation Date: May, 2012<br />
        <h3>References available upon request</h3><hr>



    </div>
    <!--END RESUME CONTENT
    =========================================== -->

      <!-- FOOTER -->
      <!--<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>
      -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
