{% extends "base.html" %}
<!--END NAVBAR
================================================== -->
{% block main %}
    <!--INDEX BODY CONTENT HERE 
    =========================================== -->
    <div class="container"> 

<!-- START THE DIVIDER -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Matthew Schlue</span></h2>
          <p class="lead">I'm a graduate student in Computer Engineering and Information Assurance at Iowa State University who has... </p>
        </div>
        <div class="col-md-5">
           <img class="featurette-image img-rounded" height="250" src="/static/img/matt_profile.jpg" alt="Generic placeholder image"> 
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/img/aws.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Been a System Administrator<span class="text-muted"><br />at the hottest start-up in Iowa</span></h2>
          <p class="lead">At WebFilings, one of my responsibilities is creating dynamic autoscaling servers in the Amazon Cloud. These systems host mission critical applications to serve our clients, which include over 60 percent of Fortune 500 companies.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Directed one of the largest <span class="text-muted">Cyber Defense Competitions</span></h2>
          <p class="lead">As the competition director, I constructed a comprehensive scenario to model defending against an advanced persistant threat.  Working with a team, we developed the platform and software that competitors defended throughout the event.  My responsibilities included reaching out to companies for sponsorship and recruiting a team of industry security professionals to hack into competitiors' networks. Check out the <a href="http://www.kcci.com/news/central-iowa/Students-answer-cyber-defense-challenge/-/9357080/22064900/-/8adhkc/-/index.html">news coverage</a> from our competition!</p>
        </div>
        <div class="col-md-5">
          <a href="/static/img/cdc.jpg"> <img class="featurette-image img-responsive" src="/static/img/cdc.jpg" alt="Generic placeholder image"> </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE DIVIDER -->
   
    <!--END INDEX CONTENT
    =========================================== -->
   {% endblock %}